@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
:root{
 --black: #241c15;
 --gray: rgba(36,28,21,0.3);
 --white: #fff;
 --dark-gray: rgba(36,28,21,0.65);
 --yellow: #ffe01b;
 --light-yellow: #fbeeca;
 --teal: #007c89;
 --dark-teal: #004e56;

 --xlarge: 40px;
 --large: 25px;
 --medium: 18px;
 --small: 14px;

 --yes: rgb(186, 219, 204);
 --yes-hover: #9BCBB5;
 --no: rgb(245, 194, 199);
 --no-hover: #ED919A;
}
*{
 border: none;
 border-radius: 0;
 color: var(--black);
 font-family: poppins;
 font-weight: 300;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.row{
 display: flex;
 flex-direction: row;
}
.column{
 display: flex;
 flex-direction: column;
}
body, html{
 width: 100%;
 height: 100%;
}

header{
 position: sticky;
 top: 0;
 right: 0;
 width: 100%;
 height: 10%;
 background-color: var(--black);
 justify-content: center;
 align-items: center;
 box-shadow: 0px 13px 27px -5px rgba(50,50,93,0.25) , 0px 8px 16px -8px rgba(0,0,0,0.3) , 0px -6px 16px -6px rgba(0,0,0,0.025) ;
 z-index: 1;
}
#title{
 color: var(--white);
 font-size: var(--xlarge);
 font-weight: 500;
 text-decoration: underline;
 text-decoration-color: var(--teal);
}
#main{
 width: 100%;
 height: 90%;
 display: flex;
 flex-direction: row;
}
#content{
 
 background-color: var(--white);
 border-left: 10px solid var(--teal);
 width: 70%;
 height: auto;
}
#cards{
 column-gap: max(5rem);
 row-gap: max(5rem);
 margin: auto;
 width: 90%;
 height: 90%;
 display: grid;
 grid-template: 1fr / repeat(auto-fit, minmax(235px, 1fr));
}
.card{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 10px;
 box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
 background-color: var(--light-yellow);
 height: 300px;
 padding-top: 15px;
 gap: 5px;
}
h2{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 30%;
 background-color: var(--light-yellow);
 text-align: center;
 justify-content: center;
 font-weight: 500;
 font-size: clamp(20px, 2vw, 21px);
}
h4{
 width: 100%;
 background-color: var(--light-yellow);
 text-align: center;
 justify-content: center;
 align-items: center;
 font-size: var(--medium);
}
span{
 color: var(--teal);
 font-weight: 500;
 height: 100%;
 padding: 5px;
}
h6{
 font-size: var(--medium);
}
.buttons{
 margin-top: 5px;
 justify-content: space-around;
 height: 40%;
 width: 50%;
}
.buttons button{
 height: 35px;
 width: 100%;
 border-radius: 10px;
 border: 1px solid var(--black);
 font-size: var(--medium);
 font-weight: 300;
}
.bool{
 transition: 0.1s;
 background-color: var(--yes);
}
.del{
 transition: 0.1s;
 background-color: var(--no);
}
.bool:hover{
 transition: 0.1s;
 background-color: var(--yes-hover);
}
.del:hover{
 transition: 0.1s;
 background-color: var(--no-hover);
}
.bold{
 color: var(--black);
 font-weight: 500;
}


aside{
 width: 30%;
 background-color: var(--light-yellow);
 position: fixed;
 right: 0;
 height: 90%;
}
#sidebar-content{
 width: 90%;
 height: 90%;
 margin: auto;
}
p{
 font-size: var(--large);
}
hr{
 height: 2px;
 background-color: var(--dark-teal);
 margin: 20px 0;
}
#prompts{
 margin: auto;
 width: 100%;
 justify-content: space-around;
 height: 70%;
 gap: 20px;
}
#add{
 margin: 0 auto;
 font-weight: 500;
 text-decoration: underline;
 text-decoration-style: dashed;
 text-decoration-color: var(--teal);
}
label{
 font-size: var(--medium);
 font-weight: 500;
}
input[type=text], input[type=number]{
 transition: 0.1s;
 outline: none;
 height: 40px;
 padding: 15px;
 font-size: 18px;
}
#check-div{
 align-items: center;
}
input[type=checkbox]{
 margin-right: 20px;
 width: 30px;
 height: 30px;
 accent-color: var(--teal);
}
input[type=checkbox]:focus{
 box-shadow: none;
}
input:focus{
 transition: 0.3s;
 box-shadow: 0 0 0px 3px var(--teal) inset;
}
#submit{
 transition: 0.1s;
 width: 50%;
 height: 50px;
 border: 1px solid var(--teal);
 background-color: var(--teal);
 color: var(--white);
 font-weight: 500;
 font-size: var(--medium);
}
#submit:hover{
 transition: 0.1s;
 background-color: var(--dark-teal);
}

/* Media Queries */
@media screen and (max-width: 600px){
 *{
  width: 100%;
  height: auto;
 }
 header{
  position: unset;
  top: 0;
  text-align: center;
 }
 #main{
  flex-direction: column;
  height: auto;
 }
 #content{
  width: 100%;
  border-left: none;
  padding: 50px 0;
 }
 #cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
 }
 .card{
  width: 80%;
  text-align: center;
 }
 h4{
  width: 80%;
  gap: 0;
 }
 aside{
  position: unset;
  right: unset;
  width: 100%;
  height: 1000px;
 }
 #submit{
  width: 100%;
 }
 #add{
  text-align: center;
  margin-top: 10px;
 }
 #prompts{
  margin-top: 0;
 }
 .no-books{
  padding: 20px;
 }
}